################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication1/.vs/WebApplication1/FileContentIndex/1a341fcd-beec-4d20-9fe8-9a9208cad6c0.vsidx
